content {
    width:960px;
    margin: auto;
}

.header {
    height:50px;
    background:#ffffff;
    border:1px solid #cccccc;
    width:960px;
    margin:0px auto;
}

body {
  /* Use relative paths instead of absolute paths */
    /* background-image: url('C:\Users\arevi\Arizona\Assignment1\Basic-Portfolio\Assets\Images\vintage-concrete.png')    */
    background-image: url('../Images/vintage-concrete.png')
}

/* The {.} selector is for classes not html elements */
/* you dont want to use the href bit here. That is an html attribute not to be used with css! */
/* .a href {
    float: right;
} */
a{
  float: right;
}

h1 {
    font-family: "Georgia", Times, Times New Roman, serif; color: #4aaaa5
}