content {
    width:960px;
    margin: auto;
}

.header {
    height:50px;
    background:#ffffff;
    border:1px solid #cccccc;
    width:960px;
    margin:0px auto;
}

body {
    background-image: url('C:\Users\arevi\Arizona\Assignment1\Basic-Portfolio\Assets\Images\vintage-concrete.png')   
}

h1 {
    font-family: "Georgia", Times, Times New Roman, serif; color: #4aaaa5
}
